<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <title><%= title %></title>
    <script type="text/javascript">
      window.user=<%- user || 'null' %>;
    </script>
   <!--using systemjs  -->
<!--    <script src="lib/core-js/client/shim.min.js"></script>
    <script src="lib/zone.js/dist/zone.js"></script>
    <script src="lib/reflect-metadata/Reflect.js"></script>
    <script src="lib/systemjs/dist/system.js"></script>
    <script src="systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
   </script>  -->
   
  </head>
  <body>
    <app>
      <h1>Loading...</h1>
    </app>
       <h1><%= subtitle %></h1>
         <% if(userFullName){ %> 
          <h2>Hello <%= userFullName %></h2>
          <a href="/signout">Signout</a>
          <% } else { %> 
                <a href="/signup">Signup</a>
                <a href="/signin">Signin</a>
          <% } %>
          <br/>
          <img src="img/logo.png" alt="logo"/>   
             <!-- using webpack 
    <script src="build/polyfills.js"></script>
    <script src="build/vendor.js"></script>
    <script src="build/main.js"></script> -->
<script type="text/javascript" src="../../public/build/polyfills.2be2666e2f2d301580eb.js"></script>
<script type="text/javascript" src="../../public/build/vendor.2be2666e2f2d301580eb.js"></script>
<script type="text/javascript" src="../../public/build/main.2be2666e2f2d301580eb.js"></script>
<script type="text/javascript" src="../../public/build/polyfills.c0a472cf299275073b2e.js"></script>
<script type="text/javascript" src="../../public/build/vendor.c0a472cf299275073b2e.js"></script>
<script type="text/javascript" src="../../public/build/main.c0a472cf299275073b2e.js"></script>
<script type="text/javascript" src="../../public/build/polyfills.788a1a4cc086cf3f1a32.js"></script>
<script type="text/javascript" src="../../public/build/vendor.788a1a4cc086cf3f1a32.js"></script>
<script type="text/javascript" src="../../public/build/main.788a1a4cc086cf3f1a32.js"></script>
<script type="text/javascript" src="../../public/build/polyfills.2716c25ce21fed788efd.js"></script>
<script type="text/javascript" src="../../public/build/vendor.2716c25ce21fed788efd.js"></script>
<script type="text/javascript" src="../../public/build/main.2716c25ce21fed788efd.js"></script>
<script type="text/javascript" src="../../public/build/polyfills.2fe4d86cba65bc3c344f.js"></script>
<script type="text/javascript" src="../../public/build/vendor.2fe4d86cba65bc3c344f.js"></script>
<script type="text/javascript" src="../../public/build/main.2fe4d86cba65bc3c344f.js"></script>
<script type="text/javascript" src="../../public/build/polyfills.d0a3dd4fcc820acb0562.js"></script>
<script type="text/javascript" src="../../public/build/vendor.d0a3dd4fcc820acb0562.js"></script>
<script type="text/javascript" src="../../public/build/main.d0a3dd4fcc820acb0562.js"></script>
</body>
</html>