<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= subtitle %></h1>
    <% if(userFullName){ %>
          <h2>Hello <%= userFullName %></h2>
          <a href="/signout">Signout</a>
    <% } else { %>
          <a href="/signup">Signup</a>
          <a href="/signin">Signin</a>
    <% } %>
    <br/>
    <img src="img/logo.png" alt="logo"/>
  </body>
</html>